.container{
   width: 800px;
   margin: 0px auto;
   padding: 0px 20px;
}

h1{
   margin-top: 10px;
   margin-bottom: 20px;
   color: #941e1e;
   text-align: center;
}

h2{
   color: blue;
   margin-top: 30px;
   margin-bottom: 50px;
}
h3{
   color: blue;
   margin-bottom: 60px;
}
a{
   text-decoration: none;
}

.just{
   width: 400px;
}

.contant{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.js-list{
   padding: 0px;
   margin: 0px;
   list-style: none;
}


@media only screen and (width: 576px) {
   .contant{
      display: flex;
   }
   .just{
      width: 200px;
   }
}