.container{
   width: 100%;
   max-width: 1000px;
   margin: 0px auto;
   padding: 0px 20px;
}

h1{
   margin-top: 10px;
   margin-bottom: 20px;
   color: #941e1e;
   text-align: center;
}

h2{
   color: blue;
   margin: 0px;
   margin-right: 10px;
}
h3{
   color: blue;
   margin: 0px;
   margin-right: 10px;
}
a{
   text-decoration: none;
}

.just{
   width: 400px;
}

.contant{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.js-list{
   padding: 0px;
   margin: 0px;
   list-style: none;
}
li{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 15px;
   background-color: aquamarine;
   padding: 14px 16px 14px 16px;
   border-radius: 20px;
}
.js-btn{
   margin-left: 10px;
}


@media only screen and (max-width: 576px) {
   .contant{
      display: block;
   }
   .just{
      width: 100%;
   }
   .js-list{
      margin-top: 30px;
   }
}